@import "variables/variables";

* {
  box-sizing: border-box;
}

// Headings

h1,h2,h3,h4,h5 {
  margin: 0;

  &.lg-heading {
    font-size: 4.5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2) ;
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
// Imports
@import "home/home";
@import "menu/menu";
@import "responsive/mobile";
