@import "variables/variables";

* {
  box-sizing: border-box;
  ::selection {
    background: lighten($secondary-color, 20);
  }
}

// Headings

h1,h2,h3,h4,h5 {
  margin: 0 !important;

  &.lg-heading {
    font-size: 4.5rem !important;
  }
  &.sm-heading {
    margin-bottom: 2rem !important;
    padding: 0.2rem 1rem !important;
    background: lighten($primary-color, 2) !important;
  }
}

a {
  color: white !important;
  text-decoration: none !important;
}

header {
  position: fixed !important;
  z-index: 2 !important;
  width: 100% !important;
  border-top: 6px $secondary-color solid !important;
}


#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// Imports
@import "home/home";
@import "menu/menu";
@import "set-color/color";
@import "about/about";
@import "articles/articles";
@import "contact/contact";

@import "responsive/mobile";

