@import "variables/variables";
* {
  box-sizing: border-box;
  ::selection {
    color: set-text-color($primary-color);
    background-color: lighten($secondary-color, 25);
  }
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  &.lg-heading {
    font-size: 4.5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2);
  }
}

// Links
a {
  color: white;
  text-decoration: none;
}

// Header and footer
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  border-top: 6px $secondary-color solid;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// Imports
@import "pages/home";
@import "pages/about";
@import "pages/articles";
@import "pages/tickets/difficultes";
@import "pages/tickets/integration";
@import "pages/tickets/borne";
@import "pages/tickets/methodes";
@import "pages/tickets/taches";
@import "pages/tickets/bilan";
@import "pages/company";
@import "pages/contact";
@import "menu/menu";
@import "set-color/color";
@import "responsive/mobile";