@import url('https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Bitter:regular,italic,700');
// Colors 
$primary-color: #444;
$secondary-color: #47bb76;
$grey-color: lighten($primary-color,
45);
// Image setting
$show-home-image: true;
// Images
$home-image: url(../img/home-image.jpg);
$portrait-image: url(../img/portrait.jpg);
$portrait-small: url(../img/portrait-small.jpg);
$background-opacity: 0.8;
// Transition
@mixin easeOut {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

// Set background image
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -2;
      }
    }
  }
}