.article {
  .bg-article {
    background: lighten($primary-color, 5);
    padding: 1.25rem 2.25rem;
    border-bottom: $secondary-color 5px solid;
    margin-bottom: 1rem;
  }
  .btn {
    text-align: center;
  }
  .read-more {
    padding: 0.3rem;
    text-transform: uppercase;
    border: 2px solid $secondary-color;
    @include easeOut
  }
  .read-more:hover {
    background-color: $secondary-color;
    padding: 0.5rem;
    font-size: 17px !important;
  }
  .read-more:active {
    background-color: #50d78a;
  }
  .article-title {
    a {
      @include easeOut
    }
    a:hover {
      font-size: 20px;
      -webkit-box-shadow: inset 0 -2px 0 0 $secondary-color;
              box-shadow: inset 0 -2px 0 0 $secondary-color;
    }
  }
}