.company {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 1.5rem 2.5rem;
    .psm,
    .webqam {
        padding: 1.25rem 2rem;
        margin-right: 1.5rem;
        background: lighten($primary-color, 5);
        border-bottom: $secondary-color 5px solid;
        margin-bottom: 1rem;
        border-radius: 3px;
        .company-title, .company-description {
            font-family: 'Bitter', serif;
        }
        &__link {
            overflow: hidden;
            display: inline-block;
            border: 3px solid $secondary-color;
            border-radius: 50%;
            background-color: lighten($primary-color, 10);
            -webkit-transform: scale(0.6);
                    transform: scale(0.6);
            :hover {
                -webkit-transform: scale(0.7);
                        transform: scale(0.7);
            }
            img {
                border: none;
                -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
            }
        }
    }
    p {
        text-align: justify;
    }
}