.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  div {
    font-size: 1.25rem;
    border: 2px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color)
      }
    }
  }
}

iframe {
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $secondary-color;
}