@import "../set-color/color";
body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.text-secondary {
  color: $secondary-color;
}

main {
  canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  padding: 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      color: set-text-color($primary-color);
      padding: 0.4rem;
      @include easeOut;
      &:hover {
        color: $secondary-color !important;
      } 
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

#home-footer {
  text-align: center;
  padding: 1rem;
  color: set-text-color($primary-color);
  height: 60px;

  .far {
    cursor: pointer;
    &:hover {
      animation: heart .3s ease-in-out;
    }
  }
  
  @keyframes heart {
    0% {
      transform: scale(1);
      transform-origin: 0% 0%;
    }
    25% {
      transform: scale(1.25);
      transform-origin: 10% 10%;
    }
    44% {
      transform: scale(1.5);
      transform-origin: 50% 50%;
    }
    66% {
      transform: scale(1.5);
      transform-origin: 50% 50%;
    }
    75% {
      transform: scale(1.25);
      transform-origin: 10% 10%;
    }
    100% {
      transform: scale(1);
      transform-origin: 0% 0%;
    }
  }
  span {
    background-color: $primary-color;
    font-weight: 400;
    border-radius: 3px;  
    i {
      color: crimson;
    }
    a {
      font-weight: 700;
      -webkit-box-shadow: inset 0 -2px $secondary-color;
              box-shadow: inset 0 -2px $secondary-color;
      @include easeOut;
      &:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
      }
    }
  }
}